# Local applications
*.ipynb
*.log
*.mp4
*.png
*.html
.ipynb_checkpoints/
asecretplace/
asecondsecretplace/
deprecated/
logs/
misc/backup_hist_data/
misc/corruptFiles/
misc/extraInfo/
misc/hist_data/
misc/hist_data_old/
misc/hist_data_(copy)/
misc/lsaDB/
misc/pyProgramTrainingLines.txt
misc/sample_tweets/
misc/sample_tweets2/
misc/sample_tweets*/
outlines.md
research/
#tests/
temp/
tests/testTweetOut.json
testSummarizeText.py
testTweetOut.json
utils/experimental/**/*.tar.gz

# Pre defined
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
