# Local applications
*.ipynb
*.log
*.mp4
*.png
*.html
.ipynb_checkpoints/
src/asecretplace/
src/asecondsecretplace/
deprecated/
src/logs/
src/misc/corruptFiles/
src/misc/extraInfo/
src/misc/hist_data/
src/misc/lsaDB/
src/misc/pyProgramTrainingLines.txt
outlines.md
research/
tests/
testSummarizeText.py

# Pre defined
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
